$primary_color: #0f67f6;$secondary_color: #191919;$third_color: #08d9ff;$link_color: #006cff;$link_color_hover: #1227b8;$link_color_active: #1227b8;$gradient_color_from: #006cff;$gradient_color_to: #1227b8;
                $body_default_font: Roboto;
            
                $heading_default_font: Fira-Sans;
            